.arts {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: 1920px;
  //height: 985px;

  // z-index: 10;

  .art-1 {
    background: url('../images/1.png') no-repeat center center;
    width: 10.062%;
    height: 20.937%;

    left: 9.7%;
    bottom: 13.56%;
  }

  .art-2 {
    background: url('../images/2.png') no-repeat center center;
    width: 13.25%;
    height: 27.52%;

    left: 12.2%;
    bottom: 38%;
  }

  .art-3 {
    background: url('../images/3.png') no-repeat center center;
    width: 11.125%;
    height: 24.062%;

    top: 9%;
    left: 17%;
  }

  .art-4 {
    background: url('../images/4.png') no-repeat center center;
    width: 13.312%;
    height: 21.77%;

    top: 41.1%;
    left: 25%;
  }

  .art-5 {
    background: url('../images/5a.png') no-repeat center center;
    width: 3.625%;
    height: 16.458%;

    top: 19%;
    left: 31%;
  }

  .art-6 {
    background: url('../images/5b.png') no-repeat center center;
    width: 12.062%;
    height: 16.458%;

    top: 18.5%;
    left: 35.5%;
  }

  .art-7 {
    background: url('../images/6.png') no-repeat center center;
    width: 8.187%;
    height: 13.333%;

    top: 46.8%;
    left: 38.7%;
  }

  .art-8 {
    background: url('../images/7.png') no-repeat center center;
    width: 42.0625%;
    height: 33.083%;

    left: 39%;
    top: 24%;
  }

  .art-9 {
    background: url('../images/8.png') no-repeat center center;
    width: 16.9375%;
    height: 21.666%;

    left: 53.7%;
    bottom: 33.3%;
  }

  .art-10 {
    background: url('../images/9.png') no-repeat center center;
    width: 22.75%;
    height: 14.99%;

    top: 19.3%;
    right: 26.1%;
  }

  .art-11 {
    background: url('../images/10.png') no-repeat center center;
    width: 6.5625%;
    height: 16.95%;

    top: 44.2%;
    right: 19.9%;
  }

  .art-12 {
    background: url('../images/11.png') no-repeat center center;
    width: 12.125%;
    height: 17.395%;

    top: 19.1%;
    right: 13.7%;
  }

  .art-13 {
    background: url('../images/12.png') no-repeat center center;
    width: 8.75%;
    height: 16.875%;

    top: 40.3%;
    right: 10.3%;
  }

  .art-14 {
    background: url('../images/13.png') no-repeat center center;
    width: 6.3125%;
    height: 12.8125%;

    bottom: 25.2%;
    right: 16.6%;
  }

  .art {
    background-size: contain;
    position: absolute;
  }
}


@media (min-width: 668px) and (max-width: 1300px) {
  .arts {
    width: 1226px !important;
    //height: 706px;
  }
}

@media (max-width: 667px) {
  .arts {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;

    .art-1 {
      top: -1.8%;
      left: 45%;

      width: 21.7%;
    }

    .art-2 {
      top: 14.6%;
      left: 5.4%;

      width: 28.4%;
    }

    .art-3 {
      height: 16.8%;
      width: 30%;

      left: -7.2%;
      top: -0.4%;
    }

    .art-4 {
      width: 30%;

      top: 54.5%;
      left: -6.5%;
    }

    .art-5 {
      top: 3.7%;
      left: 22%;

      height: 13.6%;
      width: 17%;
    }

    .art-6 {
      top: 41.8%;
      left: 9.8%;

      height: 12%;
      width: 27%;
    }

    .art-7 {
      width: 25%;
      height: 10%;
      top: initial;
      bottom: 19%;
      left: 15.2%;
    }

    .art-8 {
      width: 90%;
      height: 39%;

      top: initial;
      left: 24%;
      bottom: 21%;
    }

    .art-9 {
      width: 36%;
      height: 35%;

      top: 55%;
      left: initial;
      right: 2.1%;
      bottom: initial;
    }

    .art-10 {
      top: 37.8%;
      right: -5%;

      width: 50%;
      height: 20%;
    }

    .art-11 {
      width: 13.4%;
      height: 20%;

      top: 23.7%;
      right: 8.4%;
      bottom: initial;
    }

    .art-12 {
      width: 26%;
      height: 19.8%;

      top: 18.5%;
      left: 40.4%;
    }

    .art-13 {
      bottom: initial;
      top: 2%;
      right: -2.3%;

      height: 12%;
      width: 20%;
    }

    .art-14 {
      bottom: initial;
      top: 13.8%;
      right: 13%;

      height: 13%;
      width: 13.8%;
    }
  }
}
