.bubbles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  opacity: 0.01;
  transition: opacity 0.3s ease;
  transition-delay: 0.25s;
  will-change: opacity;
  width: 80%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }

  &-active {
    opacity: 0.99;
  }

  &-overflow {
    overflow-y: scroll;
  }

  .bubble {
    //position: absolute;
    margin: 20px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.22);
    background-color: #3498db;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
      width: 100%;
    }

    .bubble-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      transform: translate(-50%,-50%);

      .title {
        color: #FFFFFF;
      }

      .subtitle {
        color: #FFFFFF;
      }
    }
  }

  .bubble_type_s {
    .bubble-inner {
      display: none;
    }
  }

  .bubble_type_m {
    .title {
      font-size: 12px;
    }

    .subtitle {
      margin-top: 10px;
      font-size: 11px;
    }
  }

  .bubble_type_l {
    .bubble-inner {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      .title {
        font-size: 16px;
        color: rgba(255,255,255,0.70);
        letter-spacing: 0px;
        line-height: 22px;
      }

      .subtitle {

        position: relative;
        font-size: 12px;
        letter-spacing: 1.29px;
        line-height: 18px;

        // &:before {
        //   content: '—';
        //   position: absolute;
        //   color: #fff;
        //   left: -20px;
        //   top: 50%;
        //   transform: translateY(-50%);
        // }
      }
    }
  }

  .bubble_type_xl {
    .bubble-inner {

      .title {
        font-size: 16px;
        letter-spacing: 1.95px;
        line-height: 20px;
      }

      .subtitle {
        margin-top: 14px;
        font-size: 12px;
        letter-spacing: 1.73px;
        line-height: 18px;
      }
    }
  }


  .bubble-1 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    .bg {
      background: url('../images/photo-4.png') no-repeat center center;
      background-size: contain;
    }
  }

  .bubble-2 {
    top: 40%;
    right: 50%;

    .bg {
      background: url('../images/photo-3.png') no-repeat center center;
      background-size: contain;
    }
  }

  .bubble-3 {
    background: #26386F;
    bottom: 0;

    .bubble-inner {
      width: 80%;
    }
  }

  .bubble-4 {
    background: #0E172F;
    right: 10%;

    .bubble-inner {
      width: 70%;
    }
  }

  .bubble-5 {
    top: 5%;
    left: 5%;

    .bg {
      background: url('../images/photo-2.png') no-repeat center center;
      background-size: contain;
    }
  }

}
