body {
  background: url('../images/bg.png') no-repeat center center;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

html,
body {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.footer {
  background: url('../images/Footer.png') no-repeat center center;
  background-size: contain;
  width: 64.875%;
  height: 44.791%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%,0,0);
}

@media (min-width: 1300px) {
  .footer {
    width: 55%;
    bottom: -10px;
  }
}

@media (min-width: 668px) and (max-width: 960px) {
  .footer {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 667px) {
  .footer {
    height: 25%;
    width: 106%;
    bottom: -2px;
  }
}
