body {
  background: url('../images/bg.png') no-repeat center center;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

html,
body {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.footer {
  background: url('../images/Footer.png') no-repeat center center;
  background-size: contain;
  width: 64.875%;
  height: 44.791%;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%,0,0);
}

@media (min-width: 320px) and (max-width: 768px) {

  .nav {
    width: 57%;
    transform: translate3d(-105%, 0, 0);

    &-inner {
      padding: 0 20px;
    }

    &-list {
      margin-bottom: 0px;
    }

    &-listItem {
      margin-bottom: 32px;
    }

    &-listItem a {
      font-size: 27px;
      font-weight: 200;
    }

    &-toggle {
      bottom: 7px;
      left: 20px;
      font-size: 12px;
    }

    .socials {
      margin: 0;
      margin-bottom: 109px;
      flex-flow: column nowrap;
      align-items: flex-start;

      .title {
        margin-bottom: 7px;
      }

      .social-buttons {
        text-align: left;

        display: flex;
      }

      a {
        position: relative;
        height: 24px;
        width: 24px;
        display: block;
        margin-left: 0;
      }

      a:last-child {
        margin-left: 32px;
      }

      img {
        width: 100%;
      }
    }
  }

  .footer {
    height: 25%;
    width: 106%;
    bottom: -2px;
  }

  .art-1 {
    top: -1.8%;
    left: 45%;

    width: 21.7%;
  }

  .art-2 {
    top: 14.6%;
    left: 5.4%;

    width: 28.4%;
  }

  .art-3 {
    height: 16.8%;
    width: 30%;

    left: -7.2%;
    top: -0.4%;
  }

  .art-4 {
    width: 30%;

    top: 54.5%;
    left: -6.5%;
  }

  .art-5a {
    top: 3.7%;
    left: 22%;

    height: 13.6%;
    width: 17%;
  }

  .art-5b {
    top: 41.8%;
    left: 9.8%;

    height: 12%;
    width: 27%;
  }

  .art-6 {
    width: 25%;
    height: 10%;
    top: initial;
    bottom: 19%;
    left: 15.2%;
  }

  .art-7 {
    width: 90%;
    height: 39%;

    top: initial;
    left: 24%;
    bottom: 21%;
  }

  .art-8 {
    width: 36%;
    height: 30%;

    top: 55%;
    left: initial;
    right: 2.1%;
    bottom: initial;
  }

  .art-9 {
    top: 37.8%;
    right: -5%;

    width: 50%;
    height: 20%;
  }

  .art-10 {
    width: 13.4%;
    height: 20%;

    top: 23.7%;
    right: 8.4%;
    bottom: initial;

  }

  .art-11 {
    width: 26%;
    height: 19.8%;

    top: 18.5%;
    left: 40.4%;
  }

  .art-12 {
    bottom: initial;
    top: 2%;
    right: -2.3%;

    height: 12%;
    width: 20%;
  }

  .art-13 {
    bottom: initial;
    top: 13.8%;
    right: 13%;

    height: 13%;
    width: 13.8%;
  }
}
