doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title BitcoinZebra
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');

body
  .lightbox.gallery-lightbox
    .bg
    .count
      | 1 / 11

    .controls
      .go-fullscreen
      .close-button

    .slide-prev
    .slide-next

    .lightbox-inner
      .image
        img(src="images/lightbox.png")

      .title
        | Junk Food Clothing
      .subtitle
        | VENICE BEACH, CA
      .text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .lightbox.ig-lightbox
    .bg
    .count
      | 1 / 11

    .controls
      .go-fullscreen
      .close-button

    .slide-prev
    .slide-next

    .lightbox-inner
      .image
        img(src="images/ig.png")

      .title
        | Taking a few days off... Starting right now.

  .art
    .art-1
    .art-2
    .art-3
    .art-4
    .art-5a
    .art-5b
    .art-6
    .art-7
    .art-8
    .art-9
    .art-10
    .art-11
    .art-12
    .art-13

  .nav
    .nav-close

    .nav-inner
      .nav-list
        .nav-listItem
          a(href="#") Bio
        .nav-listItem
          a(href="#") Projects
        .nav-listItem
          a(href="#") Press
        .nav-listItem
          a(href="#") Gallery
        .nav-listItem
          a(href="#") Contact

      .socials
        .title
          | Follow
        .social-buttons
          a(href="#")
            img(src="../images/pinterest.svg")
          a(href="#")
            img(src="../images/instagram.svg")

  .nav-toggle
    | Menu

  .bubbles

  .footer
