doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Danny Gonzales
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');

body.body-playCursor

  .preloader.preloader-active
    //- .preloader-text
    //-   | Loading...
    img(src="images/ball.svg")

  .push-f
    | For best experience hit F to enter fullscreen

  .lightbox.gallery-lightbox
    .bg
    .count
      | 1 / 1

    .controls
      .go-fullscreen
      .close-button

    .slide-prev
    .slide-next

    .lightbox-inner
      .image
        img(src="images/lightbox.png")

      .title
        | Junk Food Clothing
      .subtitle
        | VENICE BEACH, CA
      .text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .lightbox.ig-lightbox
    .bg

    .controls
      .go-fullscreen
      .close-button

    .lightbox-inner
      .image
        img(src="images/ig.png")

      .text
        | Taking a few days off... Starting right now.

  .bio-lightbox
    .bg
    .lightbox-inner
      .info
        .close-button
        .title
          | DANNY GONZALES

        .text
          | Brooklyn-born, Manhattan-bred and now calling the West Coast home, Danny Gonzales mixes bicoastal sophistication with a well-traveled, eclectic point of view to create fresh and inviting retail environments, restaurants and office interiors for clients across the United States and the globe.

        .text
          | With a career that crosses fashion and design and an unbridled enthusiasm for raw, natural beauty, Danny has worked with some of the world’s leading brands to shape their image through his unique and immersive approach to visual merchandising and retail design. The results are eclectic, authentic spaces that entice visitors to linger a little longer and emotionally connect within the tailored environments that Danny creates to make each brand’s products shine.

        .text
          | With more than two decades of experience, an obvious passion for his work and an infectious sense of humor, Danny is just as likely to arrive for a day’s work dressed to the nines in au courant fashion as he is in a t-shirt and jeans full of paint and wood shavings. Always working, Danny draws inspiration from his leisurely pastimes, which include travel, visiting museums to marvel at fine art and scouring the world’s best flea markets and antique shops.

        .socials
          a(href="https://www.pinterest.com/danny2507" target="_blank")
            img(src="../images/pinterest-bio.svg")
          a(href="https://www.instagram.com/dannygonzales/" target="_blank")
            img(src="../images/instagram-bio.svg")

  .nav
    .nav-close

    .nav-inner
      .nav-list
        .nav-listItem.home-link
          a(href="/") Home
        .nav-listItem.bio-link
          a(href="#") Bio
        .nav-listItem.projects-link
          a(href="#") Projects
        .nav-listItem.press-link
          a(href="#") Press
        .nav-listItem.gallery-link
          a(href="#") Gallery
        .nav-listItem.contact-link
          a(href="#") Contact

      .socials
        .title
          | Follow
        .social-buttons
          a(href="https://www.pinterest.com/danny2507" target="_blank")
            img(src="../images/pinterest.svg")
          a(href="https://www.instagram.com/dannygonzales/" target="_blank")
            img(src="../images/instagram.svg")

  .nav-toggle
    | Menu

  .arts
    .art.art-1
    .art.art-2
    .art.art-3
    .art.art-4
    .art.art-5
    .art.art-6
    .art.art-7
    .art.art-8
    .art.art-9
    .art.art-10
    .art.art-11
    .art.art-12
    .art.art-13
    .art.art-14

  .bubbles
    .trigger

    // .bubble_type_xl
    // .bubble_type_l
    // .bubble_type_m
    // .bubble_type_s
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_xl
      .bubble(style="background: url('../images/photo-8.jpeg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-8.jpeg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_s
      .bubble(style="background: url('../images/photo-8.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-8.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_xl
      .bubble(style="background: url('../images/photo-9.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-9.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_s
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-10.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_l
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-10.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_s
      .bubble(style="background: url('../images/photo-5.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-5.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.

    .bubble-container.POST_TYPE_PRESS.bubble_type_xl
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_l
      .bubble(style="background: url('../images/photo-8.jpeg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-8.jpeg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_s
      .bubble(style="background: url('../images/photo-8.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-8.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_m
      .bubble(style="background: url('../images/photo-7.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_s
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-10.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_l
      .bubble(style="background: url('../images/photo-8.jpeg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-8.jpeg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_m
      .bubble(style="background: url('../images/photo-5.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-5.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_m
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-10.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_l
      .bubble(style="background: url('../images/photo-7.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_m
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-10.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_m
      .bubble(style="background: url('../images/photo-9.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-9.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
    .bubble-container.POST_TYPE_PRESS.bubble_type_l
      .bubble
        .bubble-inner
          .title Alternative Apparel Makes A Splash on Abbott Kinney
          .subtitle — SAN FRANCISCO EATE
        .bg
        .content
          .content-image
            img(src="./images/photo-7.jpg")
          .content-text
            | Wise Sons Jewish Deli Outpost at the CJM

    .bubble-container.POST_TYPE_PROJECT.bubble_type_l
      .bubble(style="background: url('../images/photo-10.jpg') no-repeat center center; background-size: cover;")
        .bubble-inner
          .title Junk Food Clothing
          .subtitle — REFINERY 29
        .bg
        .content
          .content-image
            img(src="./images/photo-10.jpg")
            img(src="./images/photo-8.jpeg")
          .content-text
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
            | Mr Cameron, who has been UK prime minister since 2010, decided to quit after the UK's Brexit vote.
            | It follows another day of dramatic developments in the political world, when Andrea Leadsom unexpectedly quit the two-way Conservative leadership contest, saying she did not have the support to build "a strong and stable government".


    .bubble-container.POST_TYPE_INSTAGRAM.bubble_type_m
      .bubble(style="background: url('../images/photo-8.jpg') no-repeat center center; background-size: cover;")
        .bg
        .bubble-inner
          .instagram
        .content
          .content-image
            img(src="./images/photo-8.jpg")
          .content-text
            | Taking a few days off... Starting right now.
            | Speaking outside Parliament, Mrs May said she was "honoured and humbled" to succeed David Cameron, after her only rival in the race withdrew on Monday.
            | Mr Cameron will tender his resignation to the Queen after PMQs on Wednesday.
  .footer
    .image-1
    .logo
