doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title BitcoinZebra
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('scripts/initialize');

body
  .arts
    .art-1
    .art-2
    .art-3
    .art-4
    .art-5a
    .art-5b
    .art-6
    .art-7
    .art-8
    .art-9
    .art-10
    .art-11
    .art-12
    .art-13

  .nav
    .nav-close

    .nav-inner
      .nav-list
        .nav-listItem
          a(href="#") Bio
        .nav-listItem
          a(href="#") Projects
        .nav-listItem
          a(href="#") Press
        .nav-listItem
          a(href="#") Gallery
        .nav-listItem
          a(href="#") Contact

      .socials
        .title
          | Follow
        .social-buttons
          a(href="#")
            img(src="../images/pinterest.svg")
          a(href="#")
            img(src="../images/instagram.svg")

  .nav-toggle
    | Menu

  .bubbles
    .bubble-xs.bubble-1
      .bg

    .bubble-s.bubble-2
      .bg

    .bubble-m.bubble-3
      .bubble-inner
        .title
          | ‘Wise Sons’ Jewish Deli Outpost at the CJM’
        .subtitle
          | SAN FRANCISCO EATER

    .bubble-m.bubble-4
      .bubble-inner
        .title
          | ‘Alternative Apparel Makes A Splash on Abbott Kinney’
        .subtitle
          | REFINERY 29

    .bubble-l.bubble-5
      .bg
      .bubble-inner
        .title
          | Junk Food Clothing
        .subtitle
          | VENICE BEACH, CA

  .footer
